@media (max-width: 68.75rem) {
    .header__container {
        padding: 0;
    }
    .navbar__main-menu {
        background-color: var(--clr-gray-900);
    }
    .navbar__left-group {
        grid-column: 1 / 2;
        padding: 16px 0 16px 16px;
    }
    .navbar__search {
        color: var(--clr-gray-100);
    }
    .navbar__toggle {
        color: var(--clr-gray-100);
    }
    .navbar__center-group {
        grid-column: 1 / -1;
        grid-row: 2;
        background-color: var(--clr-gray-100);
    }
    .navbar__logo {
        margin-top: 48px;
    }
    .navbar__right-group {
        grid-column: 2 / -1;
        padding: 16px 16px 16px 0;
        color: var(--clr-gray-100);
        font-size: 1rem;
    }
    .navbar__user {
        display: block;
        font-size: 1.2rem;
    }
    .button {
        display: none;
    }
    .navbar__button-info {
        display: none;
    }
}