.main-right {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    padding-left: 16px;
    border-left: 1px solid var(--clr-gray-300);
    margin-bottom: 16px;
    margin-top: -4px;
}

.main-right__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.main-right__item {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 24px;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--clr-gray-300);
}

.main-right__item:nth-of-type(4n) {
    border-bottom: none;
}

.main-right__item-image {
    order: 1;
    align-self: start;
}

.main-right__item-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.main-right__items-header {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--clr-gray-900);
    margin-bottom: .75rem;
}

.main-right__item-name {
    font-weight: 550;
    font-size: 1rem;
    color: var(--clr-gray-700);
    margin-bottom: 8px;
}

.main-right__item-text {
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--clr-gray-900);
}