.main-center {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-center__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.main-center__item {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 16px;
}

.main-center__item:not(:last-of-type) {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--clr-gray-300);
}

.main-center__img {
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}

.main-center__item-title {
    font-weight: 900;
    font-size: 1.125rem;
    color: var(--clr-gray-900);
    margin-bottom: 0.25rem;
}

.main-center__item-text {
    font-weight: 400;
    font-size: 1rem;
    color: var(--clr-gray-900);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}