@media (max-width: 68.75rem) {
    .main-right {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        padding-left: 0;
        border-left: none;
    }
    .main-right__items {
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }
    .main-right__item {
        grid-template-columns: 1fr;
        gap: 8px;
        border-bottom: none;
    }
    .main-right__item-image {
        order: revert;
        align-self: start;
    }
}