.header__container {
    padding: 16px 0 0 0 ;
      padding-top: 16px;
        padding-inline: 16px;
}

/* Utilities */

.navbar__left-group {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navbar__main-menu {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-content: center;
    background-color: var(--clr-gray-100);
}

.navbar__right-group {
    isolation: isolate;
    position: relative;
    justify-self: end;
    align-self: center;
}

.navbar__user {
    display: none;
}

.navbar__button-info {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 8px;
}

/* Styles */
.navbar__search {
    width: 24px;
    height: 24px;
    font-size: 1.2rem;
    color: var(--clr-gray-900);
}

.navbar__toggle {
    width: 24px;
    height: 24px;
    font-size: 1.2rem;
    color: var(--clr-gray-900);
}

.navbar__logo {
    font-family: "Chomsky";
    font-weight: var(--fw-400);
    font-size: 4rem;
    line-height: 1.1;
    text-align: center;
    color: var(--clr-offblack);
}

.navbar__text {
    font-family: "Crimson Pro";
    font-weight: var(--fw-550);
    font-size: 1.125rem;
    color: var(--clr-gray-900);
    text-align: center;
}

.navbar__button-link {
    font-family: "Crimson Pro";
    font-style: italic;
    font-weight: 400;
    font-size: .875rem;
    color: var(--clr-gray-900);
}